snippet itv "iterate over vector"
for(std::vector<${1:Type}>::iterator it = ${2:Vector}.begin(); it != $2.end(); ++it)
{
	(($1)*it)$0
}
endsnippet

snippet cout "print using cout"
std::cout << "$1" << std::endl;
endsnippet
