snippet -> "Rightarrow" i
➜
endsnippet

snippet h3 "Header 3" i
### 
endsnippet

snippet h4 "Header 4" i
#### 
endsnippet

snippet h5 "Header 5" i
##### 
endsnippet

snippet def "Definition"
<div class="definition">
    <strong>${1:Term}</strong>:
	${2:Description}
</div>
endsnippet
